// Colors
$orange: #f4770f;
$base-font-color: #444444;
$primary-color: #3a60aa;
$light-gray-border: #DBDBDB;
//$dark-blue: #475FA6;
//$dark-gray: #4d4d4d;
$light-gray: #f9f9f9;
//$gray-background: #ececec;
//$gray-border: #bcbcbc;
//$gray-text: #4d4d4d;
//$gray-icon: #bfbfbf;
//$action-icon: #b9b9b9;
$red: #C51818;
$green: #027a0c;
$green-button: #027a0c;
$green-text: #0AA017;
$light-blue-selection: #f8f8ff;
$light-red: #fff8f8;
$select-bg-color: #fafafa;
$secondary-color: #e7e7e7;
$background-border: #E2DBDB;
$green-led: #63a855;

$link: #2783cb;
$link-hover: #309bff;


//$tooltip-background: white;
//$tooltip-border: $gray-border;
//$tooltip-color: black;
//$tooltip-width: 20em;
//$tooltip-arrow-width: 8px;
//
//$base-border-radius: 3px;
//
//$table-hover: #f5f5f5;

// Layout

//These are used to calculate min-height for the white background .content-bg
//$footer-height: 25px;
//$topnav-height: 85px;
//$topbar-height: 57px;
//$no-tabs-height: 76px;
//$system-tabs-height: 110px;
//$system-components-height: 225px;
//$cluster-tabs-height: 145px;
//$breadcrumb-height: 105px;
//$move-steps-height: 100px;
//
//$body-font-family: "Open Sans", Arial, sans-serif;
//$base-font-size: 14px;
//$rem-base: $base-font-size;
//$body-font-color: #444;
//
//// Background color for the top bar
//$topbar-bg-color: white;
//$topbar-bg: $topbar-bg-color;
//
//
//// Style the top bar dropdown elements
//$topbar-dropdown-bg: white;
//$topbar-dropdown-link-color: $primary-color;
//$topbar-dropdown-link-bg: white;
//$topbar-dropdown-toggle-color: $primary-color;
//
//// Set the link colors and styles for top-level nav
//$topbar-link-color: $primary-color;
//$topbar-link-color-hover: white;
//$topbar-link-color-active: $orange;
//$topbar-link-font-size: rem-calc(16);
//$topbar-link-bg-hover: $primary-color;
//$topbar-link-bg-active: $light-gray;
//$topbar-link-text-transform: uppercase;
//
//$topbar-dropdown-label-color: $primary-color;
//
//
//
//$accordion-navigation-padding: 1em;
//$accordion-navigation-bg-color: #fafafa;
//$accordion-navigation-font-size: rem-calc(14);
//
//$progress-bar-height: 1.5em;
//$progress-bar-color: $gray-background;
//$progress-bar-border-color: $gray-border;
//$progress-bar-margin-bottom: 0;
//$progress-meter-color: $primary-color;
//
//
//span.error, small.error {
//  background: #ca2c11 !important;
//}
//
//label.error {
//  color: #ca2c11 !important;
//}
//
//$alert-color: #C51818;
//$success-color: #3B6336;
//$warning-color: darken(#f5770f, 10%);
//$alert-close-color: white;
//$alert-close-opacity: 0.6;
//$alert-close-opacity-hover: 0.8;
//
//.alert-box .close {
//  cursor: pointer;
//}